#window, #outer-box, #input, #inner-box, #entry {
	color: white;
}

#window {
	border-radius: 8px;
	background-color: #212121;
}

#outer-box {
	margin: 10px;
}

#input {
	margin-bottom: 10px;
	border-radius: 8px;
	background-color: #424242;
}

#scroll {
	margin: 0px;
}

#text {
	margin: 5px;
}

#entry:selected {
	border-radius: 8px;
	background-color: #424242;
	font-weight: bold;
	color: white;
}
